# Bonus: Temperature Analysis I

In [60]:
import pandas as pd
from datetime import datetime as dt

In [61]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [62]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'],infer_datetime_format = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [63]:
# Set the date column as the DataFrame index
df.set_index('date',inplace = True)

df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [64]:
# Drop the date column

### Compare June and December data across all years

In [65]:
from scipy import stats

In [77]:
# Filter data for desired months
june = df[df.index.month == 6]
#mouse_study_data.loc[mouse_study_data["Mouse ID"] !='g989',:]
june

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [79]:
# Identify the average temperature for June
june_temp = june["tobs"].mean()
june_temp

74.94411764705882

In [82]:
# Identify the average temperature for December
dec= df[df.index.month == 12]
dec
dec_temp = dec["tobs"].mean()
dec_temp

71.04152933421226

In [84]:
# Create collections of temperature data
june_list = june.iloc[::1,2]
dec_list = dec.iloc[::1,2]

In [85]:
# Run paired t-test
stats.ttest_ind(june_list,dec_list)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

Use the t-test to determine whether the difference in the means, if any, is statistically significant.
Will you use a paired t-test, or an unpaired t-test? Why?


paired ttest because, we are comparing the same thing under different scenarios

the June and December average temperatures is satistically significant